.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.background-login {
  background-image: url('./assets/images/logo2.jpg');
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  height: 100vh; /* Ocupa 100% da altura da viewport */
  width: 100vw; /* Ocupa 100% da largura da viewport */
  opacity: 0.2; /* Define a transparência (50%) */
  position: fixed; /* Fixa a imagem no fundo */
  top: 0;
  left: 0;
  z-index: -1; /* Coloca a imagem atrás de todo o conteúdo */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.modal-backdrop {
    /* Centraliza o modal horizontal e verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Ocupa toda a área visível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Cor de fundo escura, ligeiramente transparente */
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* Largura máxima do modal */
    text-align: center;
}

/* Estiliza os campos e o botão */
.form-group {
    margin-bottom: 15px;
    text-align: left; /* Alinha o label e o input à esquerda */
}

.form-group label {
    display: block; /* Garante que o label fique em uma linha separada */
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-content input[type="email"] {
    /* Garante que o input preencha 100% da largura do seu contêiner pai (.form-group) */
    width: 100%; 
    padding: 12px;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-size:18
}

.modal-content input[type="password"] {
    width: 100%;
    padding: 12px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff; /* Cor primária do seu projeto */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}
.success-message {
    color: green;
    margin-top: 10px;
}

.App-link {
  color: #61fbd4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
